:root{
  --primary-color: #5cdb95;
  --first-color: #8ee4af;
  --second-color: #379683;
  --third-color: #05386b;
  --white-color: #edf5e1;
  --default-border-radius: 8px;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}
#pixel-art-body{
  background-image: unset;
  background: unset;
}
body{
  min-height: 100vh;
  background-color: var(--primary-color);
}
::placeholder {
  color: #000;
  opacity: 1; /* Firefox */
  letter-spacing: 2px;
}
p{
  margin: 0;
}
ul {
  margin: 0;
  padding: 60px 10px 70px 10px;
}
li{
  list-style-type: none;
  padding: 6px;
  box-sizing: border-box;
  overflow-wrap: break-word;
}
.mt-5{
  margin-top: 5px;
}
.text-red{
  color: #d50f25;
}
li.center .admin-message{
  background: var(--first-color);
  padding: 6px 10px;
  border-radius: 50px;
  color: #000;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, .1);
  letter-spacing: 1px;
}
li.center{
  margin: 8px 0;
}
li.center,
p.center,
.buttons-container.center{
  text-align: center;
  text-transform: capitalize;
}
#messages{
  color: var(--white-color);
}
li.message{
  padding: 0;
  max-width: 30%;
}
li.message img{
  width: 100%;
}
li.align-left,
li.align-right{
  padding: 4px 0;
  margin: 4px 0;
}
li.align-left li{
  padding: 0;
  margin-left: auto;
}
li.align-right li{
  padding: 0;
  margin-right: auto;
}
div.message{
  border-radius: var(--default-border-radius);
  padding: 16px;
  box-sizing: border-box;
  letter-spacing: 1px;
}
.error-message{
  text-align: center;
  color: red;
}
div.you{
  color: var(--white-color);
  background: var(--second-color);
  box-shadow: 1px 1px 6px rgba(0, 0, 0, .1);
}
div.stranger{
  color: var(--white-color);
  background: var(--third-color);
  box-shadow: 1px 1px 6px rgba(0, 0, 0, .1);
}
div.stranger .buttons-container{
  margin-top: 10px;
  padding: 0;
}
span.name{
  margin-bottom: 4px;
  color: var(--first-color);
}
span img{
  width: 100%;
}
.chat-form {
  width: 100%;
  padding: 8px 6px;
  box-sizing: border-box;
  display: flex;
}
.chat-form-container{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background: inherit;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, .2);
}
.form-container{
  width: 100%;
  background: #fff;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, .2);
}
.form-container .input{
  margin: 0 6px;
}
.form-container .input.input-field #message,
.form-container .input.input-field .private-message{
  border: none;
  outline: none;
  background: transparent;
}
.form-container .input.input-btn .send,
.form-container .input.input-btn .image-send{
  border-radius: 50px;
  border: none;
  outline: none;
  padding: 10px 16px!important;
  background: var(--third-color);
  color: var(--white-color);
  cursor: pointer;
}
.form-container .input input,
.form-container .input button{
  padding: 16px;
  box-sizing: border-box;
}
.input-field{
  width: 100%;
}
.input-field input{
  width: 100%;
}
.input-btn{
  width: auto;
}
.buttons{
  display: flex;
}
.popup-container,
.all-users-container,
.close-list-div,
.modal-void,
.modal-container,
.chat-popup-container,
.chat-popup-void,
.disconnected-container{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  background: rgba(0, 0, 0, .5);
}
.username-popup{
  width: 50%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: var(--third-color);
  padding: 20px;
  border-radius: 20px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, .4);
  box-sizing: border-box;
}
.username-popup h1{
  color: var(--white-color);
  margin-bottom: 20px;
}
.username-popup p{
  color: var(--white-color);
  letter-spacing: 1.5px;
  margin-bottom: 20px;
}
.username-popup .input-field{
  background: #fff;
  margin: 16px 0;
  border-radius: var(--default-border-radius);
}
.username-popup .input input,
.username-popup .input button{
  border: none;
  border-radius: var(--default-border-radius);
  outline: none;
  padding: 16px;
  box-sizing: border-box;
}
.username-send{
  display: block;
  width: 100%;
  background: var(--primary-color);
  color: var(--white-color);
  padding: 10px 20px !important;
  border: none;
  outline: none;
  font-size: 1.5rem;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, .4);
}
.username-send i{
  margin-left: 12px;
}
.header{
  position: fixed;
  width: 100%;
  height: 50px;
  box-sizing: border-box;
  background: var(--third-color);
  color: var(--white-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 10px rgba(0, 0, 0, .2);
}
.icon{
  padding: 10px;
}
.icon:hover i{
  color: rgba(0, 0, 0, .5);
}
.header-right-container,
.header-left-container{
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-right-container .connected-users p{
  letter-spacing: 1px;
}
.typing{
  padding: 6px 10px;
}
.hamburger{
  position: relative;
  margin-left: 26px;
  padding: 6px 10px;
  cursor: pointer;
}
.hamburger div{
  width: 30px;
  height: 2px;
  margin: 8px 0;
  background: #fff;
  transition: .2s ease;
}
.hamburger.active div:nth-child(1){
  transform: translate(0px, 10px) rotate(45deg);
}
.hamburger.active div:nth-child(2){
  visibility: hidden;
  opacity: 0;
}
.hamburger.active div:nth-child(3){
  transform: translate(0px, -10px) rotate(-45deg);
}
.all-users-container{
  display: none;
}
.list{
  position: fixed;
  z-index: 9999;
  width: 80%;
  height: 100vh;
  box-sizing: border-box;
  left: -100%;
  background: var(--primary-color);
  overflow-y: auto;
  overflow-x: hidden;
}
.list .connected-users-list{
  color: var(--white-color);
  letter-spacing: 2px;
}
li.users{
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 24px;
  padding: 8px 12px;
}
li.users span .fa{
  color: red;
}
.list-header{
  padding: 50px 10px 10px 10px;
}
.close-users-list{
  background: transparent;
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  outline: none;
  cursor: pointer;
  color: var(--white-color);
}
.close-users-list div{
  width: 30px;
  height: 2px;
  margin: 8px 0;
  background: #fff;
  transition: .2s ease;
}
.close-users-list div:nth-child(1){
  transform: translate(0px, 5px) rotate(45deg);
}
.close-users-list div:nth-child(2){
  transform: translate(0px, -5px) rotate(-45deg);
}
.list ul{
  margin: 0;
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 10px;
}
.list ul li{
  border-radius: var(--default-border-radius);
}
.list ul li:nth-child(odd){
  background: var(--first-color);
  color: #000;
}
.list ul li:nth-child(even){
  background: var(--second-color);
  color: var(--white-color);
}
.connected-users-list{
  margin-bottom: 8px;
}
.modal-container{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  display: none;
}
.message-request-box{
  position: relative;
  padding: 20px;
  margin: 10px;
  background: var(--third-color);
  border-radius: 10px;
  box-shadow: 0 6px 10px rgba(0, 0, 0, .2);
}
.modal-heading{
  margin-bottom: 10px;
  font-size: 20px;
  color: var(--white-color);
}
.buttons-container{
  padding: 10px;
}
.buttons-container button{
  color: var(--white-color);
  padding: 8px 12px;
  outline: none;
  font-size: 18px;
  border-radius: 6px;
  cursor: pointer;
  transition: .3s ease;
}
.buttons-container .accept{
  margin-right: 10px;
  color: var(--white-color);
}
.buttons-container .reject{
  margin-left: 10px;
  color: var(--white-color);
}
.accept{
  background: #009925;
  border: 2px solid #009925;
}
.accept:focus{
  background: var(--white-color);
  color: #009925;
}
.reject{
  background: #d50f25;
  border: 2px solid #d50f25;
}
.reject:focus{
  background: var(--white-color);
  color: #d50f25;
}
.z-index-10000{
  z-index: 10000;
}
.overflow-hidden{
  overflow: hidden;
}
.chat-popup-container{
  box-sizing: content-box;
}
.chat-popup-void{
  background: unset;
}
.chat-popup{
  position: relative;
  background: var(--primary-color);
  box-shadow: 0 6px 10px rgba(0, 0, 0, .2);
  height: 100%;
}
.chat-popup-header{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: var(--third-color);
  padding: 16px;
  display: grid;
  grid-template-columns: 1fr 8fr 1fr;
  justify-content: center;
  align-items: center;
  color: var(--white-color);
  box-shadow: 0 2px 10px rgba(0, 0, 0, .4);
}
.close button,
.back button{
  display: block;
  margin: auto;
  background: transparent;
  border: none;
  outline: none;
  padding: 4px 6px;
  color: var(--white-color);
}
.close button:focus{
  background: #fff;
  color: #000;
}
.messages{
  height: 100%;
  overflow: auto;
}
.messages .private-container{
  padding: 60px 0 70px 0;
}
.messages .private-container ul{
  padding: 0 10px;
}
.chat-popup-form{
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}
.chat-popup-form .chat-form{
  padding: 8px 6px;
  background: var(--primary-color);
  box-shadow: 0 -2px 10px rgba(0, 0, 0, .2);
}
.chat-popup-form .chat-form .form-container{
  border-radius: 50px;
  background: #fff;
}
.chat-popup-form .chat-form .form-container .input.input-btn .send{
  border-top-left-radius: 10px;
}
.chat-popup-form .chat-form .form-container .input.input-btn .image-send{
  border-top-right-radius: 10px;
}
.image-upload-form{
  display: none;
}
div.image{
  padding: 4px;
  background: var(--white-color);
}
.users:after,
.hamburger:after{
  visibility: hidden;
  position: absolute;
  top: 5px;
  right: 5px;
  content: '';
  width: 15px;
  height: 15px;
  background: red;
  border-radius: 50%;
}
.users:after{
  top: -2px;
  right: -2px;
  width: 10px;
  height: 10px;
}
.users.show-notification:after,
.hamburger.show-notification:after{
  visibility: visible;
}
.message-container{
  border-radius: 10px;
  padding: 20px;
  background: #fff;
  position: fixed;
  bottom: -100%;
  left: 50%;
  transform: translateX(-50%);
  width: 50%;
  transition: .2s ease-in-out;
}
.message-container.active{
  bottom: 10px;
}
.message-container p{
  font-size: 20px;
}

#pixel-art-body{
  width: 100vw;
  height: 100vh;
}
#pixel-art{
  image-rendering: pixelated;
}
@media (min-width: 768px){
  .all-users-container .list{
    width: 30%;
  }
}

@media (max-width: 768px){
  .username-popup{
    width: 80%;
  }
}

@media (max-width: 600px){
  .username-popup,
  .message-container{
    width: 90%;
  }
  li.message{
    max-width: 80%;
  }
  .hamburger{
    margin-left: 10px;
  }
}